{% extends 'accounts/base.html' %}

{% block title %}
    <title>About | Taskilon</title>
{% endblock %}


{% load static %}

{% block stylesheets %}
{% endblock %}


{% block headstyles %}
{% endblock %}



{% block content %}
        <h1 class="heading">About Taskilon</h1>
        <p class="paragraph"><span class="strong">TASKILON</span> is a TODO app designed and developed by <a href="https://www.linkedin.com/in/arjun-thakur001/" target='_blank'><span class='strong'>Arjun Thakur</span></a>. It is a project to showcase some of my skills. The code for this app is available at <a href='https://github.com/arjun0108/taskilon' target='_blank'><span class='strong'>Github</span></a>. The front-end is completely "pure code"<sup class="superscript"><span class="strong">1
        </span></sup> without any use of front-end frameworks.
            The core or the backend is developed using Python's <a href="https://www.djangoproject.com/" target='_blank'>Django Framework.</a> The app contains o-auth signup facility, i.e. the user can signup using his/her social profile<sup class="superscript"><span class="strong">2</span></sup> which is good, as the user doesn't have to remember so many passwords for different profiles. The app is currently being hosted on HEROKU, so the access might be slow. The core of the app will be lauched in the coming weeks. The app will be completely ready soon! 
        </p>

        <br />

        <h1 class="heading__small">Developer's Social Profiles</h1>
        <p class="paragraph" style="text-indent:0;">
            <ul class="paragraph list" style="text-indent:0;">
                <li><a class="profiles" href="https://www.linkedin.com/in/arjun-thakur001/" target='_blank'><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                <li><a class="profiles" href="https://github.com/arjun0108/" target='_blank'><i class="fa fa-github"></i> Github</a></li>
                <li><a class="profiles" href="https://www.instagram.com/arjun_thakur001/" target='_blank'><i class="fa fa-instagram"></i> Instagram</a></li>
                <li><a class="profiles" href="https://www.facebook.com/nocturnal001" target='_blank'><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a class="profiles" href="https://soundcloud.com/arjun_thakur" target='_blank'><i class="fa fa-soundcloud"></i> SoundCloud</a></li>
                <li><a class="profiles" href="https://twitter.com/arjunthakur08" target='_blank'><i class="fa fa-twitter"></i> Twitter</a></li>
                <br>
            </ul>
        </p>

        <br />
        <hr />
        <br />
        <p class="paragraph__small" style="text-indent:0;">

            1. Pure Code refers to use of plain HTML5, CSS3, JS and jquery<br /><br />
            2. Social Profiles includes Facebook, Google, Github and Twitter for now.
        </p>

{% endblock %}

{% block javascripts %}
{% endblock %}
