<!--Raise My accounts-->
<!Doctype HTML>
<html lang="en">
<head>
    <title>Home | Raise My accounts</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Arjun Thakur" />
    <meta name="application-name" content="Raise My accounts" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8" />

    {% load static %}

    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'accounts/assets/images/favicon.ico' %}" />

    <!--Stylesheets-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:100,300,400,400italic,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/assets/css/layout.css' %}" />

    {% block stylesheets %}
    {% endblock %}

    {% block headstyles %}

    {% endblock %}


</head>

<body>
    <div class="ar-banner">
        <header class="ar-header">

            <nav>
                <h1 class="ar-brand-title">Taskilon</h1>
                <ul class="ar-wide-menu">
<!--                    <li><a href="javascript:void(0);"><i class="fa fa-home"></i></a></li>-->
                    <li><a href="{% url 'accounts:home' %}">Home <i class="fa fa-home"></i></a></li>
                    {% if user.is_authenticated %}
                        <li><a href="javascript:void(0);">{{ user.first_name }} <i class="fa fa-chevron-down"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-bell-o"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-envelope-o"></i></a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    {% endif %}
<!--                    <li><a href="javascript:void(0);"><i class="fa fa-user-o"></i></a></li>-->
<!--                    <li><a href="javascript:void(0);"></a></li>-->
                </ul>
            </nav>
        </header>
    </div>

    <!--content-->
    <div class="ar-row ar-row--content">
        <div class="row container-wide">
            {% block content %}
            {% endblock %}
        </div>
    </div>

     <!--footer-->
    <div class="ar-row ar-row--dark-gray" style="display: none;">
            <footer class="row container-wide">
                <div class="col-wide">
                    <h1>Raise My accounts</h1>
                    <div class="col-wide--two">
                        <a href="javascript:void(0)">About</a><br />
                        <a href="javascript:void(0)">Contact</a><br />
                        <a href="javascript:void(0)">FAQ</a><br />
                    </div>

                    <div class="col-wide--two">
                        <a href="javascript:void(0)" target="_blank">Facebook</a><br />
                        <a href="javascript:void(0)" target="_blank">Twitter</a><br />
                        <a href="javascript:void(0)" target="_blank">Google+</a><br />
                    </div>
                    <p>&copy; 2017 <a href="javascript:void(0);" target="_blank">Raise My accounts</a></p>
                </div>
            </footer>
    </div>

    <!--Scripts-->
    <script src="https://use.fontawesome.com/45c73aaa68.js"></script>
    <script type="text/javascript" src="{% static 'accounts/assets/js/' %}">
    </script>

    {% block javascripts %}
    {% endblock %}

</body>

</html>
