<!--TASKILON-->

<!Doctype HTML>
<html lang="en">
<head>
    {% block title %}
    {% endblock %}
	<meta name="google-site-verification" content="sCibo3iOOm9h7urlDH8PGxVx80uYY4nBJHk8L0ImlAE" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Arjun Thakur" />
    <meta name="application-name" content="Taskilon" />
    <meta name="keywords" content="taskilon, herokuapp, heroku, task management, task, todo app, todo, django, python" />
    <meta name="description" content="Taskilon is a task management app" />

    {% load static %}

    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'accounts/assets/images/favicon.ico' %}" />

    <!--Stylesheets-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:100,300,400,400italic,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/assets/css/layout.css' %}" />

    {% block stylesheets %}
    {% endblock %}

    {% block headstyles %}

    {% endblock %}

</head>

<body id="wide">
    <div class="ar-banner">
        <div class="container-wide">
            <a href="/" class="ar-brand-title">
                <img src="{% static 'accounts/assets/css/img/image.png' %}" alt="Taskilon Logo" />
            </a>
            <span class="fake-banner">
            </span>
            <div id="trigger" class="nav nav-trigger">
                <a id="nav-trigger-link" class="bars" href="javascript:void(0);">
                    <span class="bars-top"></span>
                    <span class="bars-bottom"></span>
                </a>
            </div>
            <div id="nav" class="row nav-bar-container">
                <nav class="row">
                    <ul class="ar-wide-menu">
                        {% if user.is_authenticated %}
                            <li class="nav-menu"><a href="{% url 'accounts:profile' %}">{{ user.first_name }}&nbsp;<!--<i class="fa fa-chevron-down"></i>--></a></li>
                            <!-- <li class="nav-menu"><a href="javascript:void(0);"><i class="fa fa-bell-o"></i></a></li> -->
                            {% if user.is_authenticated and backends.associated %}
                                <!-- <li class="nav-menu"><a href="{% url 'accounts:changepwd' %}">Can't Change Password</a></li> -->
                            {% elif user.is_authenticated and not backends.associated %}
                                <li class="nav-menu"><a href="{% url 'accounts:changepwd' %}">Change Password</a></li>
                            {% else %}
                            {% endif %}
                            <li class="nav-menu"><a href="{% url 'accounts:logout' %}">Logout</a></li>
                        {% else %}
                            <li class="nav-menu"><a href="{% url 'accounts:login' %}">LogIn</a></li>
                            <li class="nav-menu"><a href="{% url 'accounts:signup' %}">SignUp</a></li>
                            <li class="nav-menu"><a href="{% url 'accounts:about' %}">About</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!--content-->
    <div class="ar-row ar-row--content">
        <div class="row container-wide">
            {% block content %}
            {% endblock %}
        </div>
    </div>

     <!--footer-->
    <div class="ar-row ar-row--dark-gray" style="display: none;">
            <footer class="row container-wide">
                <div class="col-wide">
                    <h1>Taskilon</h1>
                    <div class="col-wide--two">
                        <a href="javascript:void(0)">About</a><br />
                        <a href="javascript:void(0)">Contact</a><br />
                        <a href="javascript:void(0)">FAQ</a><br />
                    </div>

                    <div class="col-wide--two">
                        <a href="javascript:void(0)" target="_blank">Facebook</a><br />
                        <a href="javascript:void(0)" target="_blank">Twitter</a><br />
                        <a href="javascript:void(0)" target="_blank">Google+</a><br />
                    </div>
                    <p>&copy; 2017 <a href="javascript:void(0);" target="_blank">Taskilon</a></p>
                </div>
            </footer>
    </div>

    <!--Scripts-->
    <script src="https://use.fontawesome.com/45c73aaa68.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'accounts/assets/js/main.js' %}"></script>
    <script src="{% static 'accounts/assets/js/form.js' %}"></script>

    {% block javascripts %}
    {% endblock %}

</body>

</html>
