<!--TASKILON-->

<!Doctype HTML>
<html lang="en">
<head>
    {% block title %}
    {% endblock %}
	<meta name="google-site-verification" content="sCibo3iOOm9h7urlDH8PGxVx80uYY4nBJHk8L0ImlAE" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Arjun Thakur" />
    <meta name="application-name" content="Taskilon" />
    <meta name="keywords" content="taskilon, herokuapp, heroku, task management, task, todo app, todo, django, python" />
    <meta name="description" content="Taskilon is a task management app" />

    {% load static %}

    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'accounts/assets/images/favicon.ico' %}" />

    <!--Stylesheets-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:100,300,400,400italic,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/assets/css/layout.css' %}" />

    {% block stylesheets %}
    {% endblock %}

    {% block headstyles %}

    {% endblock %}
    <style media="screen">
        .ar-row--content{
            padding: 2.185em 0;
            margin-top: 4.4em;
            padding-top: 1.6em;
        }
    </style>
</head>

<body id="wide">
    <div class="ar-banner">
        <div class="container-wide">
            <a href="/" class="ar-brand-title">
                <img src="{% static 'accounts/assets/css/img/image.png' %}" alt="Taskilon Logo" />
            </a>
            <span class="fake-banner">
            </span>
            <div id="trigger" class="nav nav-trigger">
                <a id="nav-trigger-link" class="bars" href="javascript:void(0);">
                    <span class="bars-top"></span>
                    <span class="bars-bottom"></span>
                </a>
            </div>
            <div id="nav" class="row nav-bar-container">
                <nav class="row">
                    <ul class="ar-wide-menu">
                        {% if user.is_authenticated %}
                            <li class="nav-menu"><a href="{% url 'accounts:profile' %}">
                                {% if user.first_name %}{{ user.first_name }}&nbsp;{% else %}(No Name){% endif %}<!--<i class="fa fa-chevron-down"></i>--></a></li>
                            <!-- <li class="nav-menu"><a href="javascript:void(0);"><i class="fa fa-bell-o"></i></a></li> -->
                            {% if user.is_authenticated and backends.associated %}
                                <!-- <li class="nav-menu"><a href="{% url 'accounts:changepwd' %}">Can't Change Password</a></li> -->
                            {% elif user.is_authenticated and not backends.associated %}
                                <li class="nav-menu"><a href="{% url 'accounts:changepwd' %}">Change Password</a></li>
                            {% else %}
                            {% endif %}
                            <li class="nav-menu"><a href="{% url 'accounts:logout' %}">Logout</a></li>
                        {% else %}
                            <li class="nav-menu"><a href="{% url 'accounts:login' %}">LogIn</a></li>
                            <li class="nav-menu"><a href="{% url 'accounts:signup' %}">SignUp</a></li>
                            <li class="nav-menu"><a href="{% url 'accounts:about' %}">About</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!--content-->
    <div class="ar-row ar-row--content">
        <div class="row container-wide">
            {% block content %}
            {% endblock %}
        </div>
    </div>

     <!--footer-->
    <div class="ar-row ar-row--dark-gray ar-footer" style="">
            <footer class="row container-wide">
                <!-- <div class="col-wide"> -->
                    <h1 class="row footer__heading">Quick Links</h1>
                    <div class="row footer__links">
                        <a href="{% url 'accounts:about' %}">About</a>
                        <a href="mailto:arjunthakur01081997@gmail.com">Contact</a>
                    </div>
                <!-- </div> -->
                <p class="footer__copyright">&copy; <span id="copyright__year"></span> <a href="javascript:void(0);" target="_blank" rel='noopener'>TASKILON</a> | <a href="https://github.com/arjun0108" target="_blank" rel="nofollow"><span class="strong">Arjun Thakur</span></a></p>
            </footer>
    </div>

    <!--Scripts-->
    <script src="https://use.fontawesome.com/45c73aaa68.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'accounts/assets/js/main.js' %}"></script>
    <script src="{% static 'accounts/assets/js/form.js' %}"></script>
    <script>
        var today = new Date();
        var year = today.getFullYear();
        document.getElementById("copyright__year").innerHTML = year;
    </script>
    {% block javascripts %}
    {% endblock %}

</body>

</html>
