{% extends 'accounts/base.html' %}

{% block title %}
    <title>Change Password | Taskilon</title>
{% endblock %}


{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'accounts/assets/css/form.css' %}" />
{% endblock %}


{% block headstyles %}

{% endblock %}



{% block content %}
<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Change Password</legend>

        {% if form.errors %}
            <p style="color: red; margin:15px 0;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <div class="ar-input-set">
            {{form.old_password}}
            <!---<input class="ar-form-input" id="fname" type="text" required />-->
            <span class="ar-fixed-label"><i class="fa fa-key"></i></span>
            <span class="ar-floating-label">Old Password</span>
            {{ form.old_password.errors }}
        </div>

        <div class="ar-input-set">
            {{form.new_password1}}
            <!--<input class="ar-form-input" id="lname" type="text" required />-->
            <span class="ar-fixed-label"><i class="fa fa-key"></i></span>
            <span class="ar-floating-label">New Password</span>
            {{ form.new_password1.errors }}
        </div>
        <div class="ar-input-set">
          {{form.new_password2}}
            <!--<input class="ar-form-input" id="email" type="text" required />-->
            <span class="ar-fixed-label"><i class="fa fa-key"></i></span>
            <span class="ar-floating-label">Confirm New Password</span>
            {{ form.new_password2.errors }}
        </div>

        <span class="ar-form-btn-span">
            <button class="submit">Change Password</button><br />
            <!-- <span>New User? <a class="ar-form-click" href="{% url 'accounts:signup' %}">Click here</a> to register.</span> -->
        </span>

    </fieldset>

</form>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'accounts/assets/js/form.js' %}"></script>
{% endblock %}
