{% extends 'accounts/base.html' %}

{% block title %}
    <title>Home | Taskilon</title>
{% endblock %}


{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'accounts/assets/css/form.css' %}" />
{% endblock %}


{% block headstyles %}
    <style>
        .paragraph a {
            font-weight: 400;
        }
        .ar-form-btn-span a.submit, .ar-form-btn-span button{
            padding: 0.5em 0.6em;
        }
    </style>
{% endblock %}



{% block content %}

    {% if user.is_anonymous %}
    <div class="row row--padding-medium" style="padding-top:1em;">
        <h1 class="heading" style="font-weight:400; color:#333; font-variant:small-caps; text-transform:uppercase; text-align:center;">Taskilon</h1>
        <p class="paragraph" style="text-indent:0;">
        Taskilon is a task management app, developed by <a href="https://github.com/arjun0108/" target="_blank"><span class="strong">Arjun Thakur</span></a>. This app has been backed by  <a href="https://djangoproject.com/" target="_blank"><span class="strong">django</span></a>, a python framework for developing really amazing web application, super easily. You can create account on this app either via <a href="{% url 'accounts:signup' %}"><span class="strong">Sign up Form</span></a> or via any one of your account on social networking site such as Google, Facebook, etc.
        </p>

        <p class="paragraph">
            After creating the account, go to your profile and add Tasks you want to complete. Click/tap on the checkbox in front of task name that you've already completed.
        </p>
    </div>
    <div class="row row--padding-medium" style="padding-top:0em;">
        <h1 class="heading__small" style="font-weight:400; color:#333; font-variant:small-caps; text-align:center; text-transform:uppercase;">dev zone</h1>
        <p class="paragraph" style="text-indent:0;">
            If you find any issue/bug, want some improvemnets, please report it <a href="https://github.com/arjun0108/taskilon/issues" target="_blank"><span class="strong">@taskilon</span></a>. It is always good to have  different minds working on a single thing. Therefore, this app is <a href="https://github.com/arjun0108/taskilon/" target="_blank"><span class="strong">open-sourced</span></a>, and contributors are always welcome.
        </p>
    </div>

    <div style="text-align:center; margin:4em auto; max-width:768px">
        <span class="ar-form-btn-span" style="display:inline-block; width:auto;">
            <a class="submit" href="{% url 'accounts:login' %}" style="margin-left:0;">Login</a>
        </span>
        or
        <span class="ar-form-btn-span" style="display:inline-block; width:auto;">
            <a class="submit" href="{% url 'accounts:signup' %}" style="margin-right:0;">Sign Up</a>
        </span>
    </div>
    {% else %}
        <!-- <h1 class="heading">Welcome to your Taskilon, {{ user.first_name }}!</h1> -->
        <!--In Progress (Temporary Code)-->
        <div class="stayTuned" style="display:block; position:initial;">
            <h1>Development In Progress! <br/ ></h1>
            <h1><i class="fa fa-gear fa-spin"></i><i style="font-size:0.5em;" class="fa fa-gear icon-spin-counter"></i></h1>
            <h6>STAY TUNED</h6>
        </div>
        <p class="heading__small maintenance" style="display:none;"><i class="fa fa-exclamation-circle"></i> This page is currently in maintenance mode and will be updated soon!</p>

        <!-- tasks -->
        <div class="row row--padding-medium container-wide" style="display:none;">
            <ul>
                Total Tasks = {{totalTodos}}
                {% for todo in todos %}
                    <li>{{forloop.counter}}. {{todo.name}}</li>
                {% endfor%}
            </ul>
        </div>
    {% endif %}

    <h1 class="separator-dots">
        <span></span>
    </h1>

{% endblock %}

{% block javascripts %}
{% endblock %}
