{% extends 'accounts/base.html' %}

{% block title %}
    <title>Home | Taskilon</title>
{% endblock %}


{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'accounts/assets/css/form.css' %}" />
{% endblock %}


{% block headstyles %}
{% endblock %}



{% block content %}
    <h1 class="heading"> Home of Taskilon</h1>
    <div style="text-align:center; margin:4em auto; max-width:768px">
        <a class="heading__small" href="{% url 'accounts:login' %}">Login Now</a>
        <span class="line-and-text heading__small">
            <span>OR</span>
        </span>
        <a class="heading__small" href="{% url 'accounts:signup' %}">Sign Up Now</a>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
