{% extends 'accounts/base.html' %}

{% load static %}

{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'accounts/assets/css/form.css' %}" />
{% endblock %}


{% block headstyles %}

{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="success-alert">
    <i class="fa fa-check-circle" style="color:#6dff6d;"></i>Your new password has been set. You may go ahead and <a href="{% url 'accounts:login' %}">log in</a> now.
</div>


{% endblock %}

{% block javascripts %}
    <script src="{% static 'accounts/assets/js/form.js' %}"></script>
{% endblock %}
