{% extends 'accounts/base.html' %}

{% load static %}

{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'accounts/assets/css/form.css' %}" />
{% endblock %}


{% block headstyles %}

{% endblock %}

{% block content %}

{% if validlink %}
{% if messages %}
    {% for message in messages %}

    <div class="success-alert">
        <i class="fa fa-check-circle" style="color:#6dff6d;"></i>Your new password has been set. You may go ahead and <a href="{% url 'accounts:login' %}">log in</a> now.
    </div>


    <!-- <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{ message }}</p> -->
    {% endfor %}
{% else %}
<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Password Reset</legend>

        {% if form.errors %}
            <p style="color: red; margin:15px 0;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <div class="ar-input-set">
            {{ form.new_password1 }}
            <!--<input class="ar-form-input" id="email" type="text" required />-->
            <span class="ar-fixed-label"><i class="fa fa-key"></i></span>
            <span class="ar-floating-label">New Password</span>
            {{ form.new_password1.errors }}
        </div>
        <div class="ar-input-set">
            {{ form.new_password2 }}
            <!--<input class="ar-form-input" id="email" type="text" required />-->
            <span class="ar-fixed-label"><i class="fa fa-key"></i></span>
            <span class="ar-floating-label">Confirm Password</span>
            {{ form.new_password2.errors }}
        </div>

        <span class="ar-form-btn-span">
            <button type="submit" class="button">Change My Password</button><br /><br />
            <!-- <span>Have an account? <a class="ar-form-click" href="{% url 'accounts:login' %}">Click here</a> to login.</span> -->
        </span>

    </fieldset>

</form>
{% endif %}
{% else %}

<div class="alert-title">
    Invalid Password Reset Link <i class="fa fa-times-circle" style="color:#ec2727;"></i>
</div>

<div class="error-alert">
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
</div>

{% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'accounts/assets/js/form.js' %}"></script>
{% endblock %}
