{% extends 'accounts/base.html' %}

{% block title %}
    <title>Reset Password | Taskilon</title>
{% endblock %}


{% load static %}

{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'accounts/assets/css/form.css' %}" />
{% endblock %}


{% block headstyles %}

{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert-title">
            Reset Password E-mail Sent <i class="fa fa-check-circle" style="color:#6dff6d;"></i>
        </div>

        <div class="success-alert" style="color:#fff;">
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p> <br />
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    {% endfor %}
{% else %}
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Password Reset</legend>
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            {% if form.errors %}
                <p style="color: red; margin:15px 0;">
                    Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}
                <div class="ar-input-set">
                    {{form.email}}
                    <!--<input class="ar-form-input" id="email" type="text" required />-->
                    <span class="ar-fixed-label"><i class="fa fa-envelope-o"></i></span>
                    <span class="ar-floating-label">E-Mail ID</span>
                    {{ form.email.errors }}
                </div>

                <span class="ar-form-btn-span">
                    <button type="submit" class="button">Reset My Password</button><br /><br />
                    <!-- <span>Have an account? <a class="ar-form-click" href="{% url 'accounts:login' %}">Click here</a> to login.</span> -->
                </span>

{% endif %}


    </fieldset>

</form>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'accounts/assets/js/form.js' %}"></script>
{% endblock %}
