{% extends 'accounts/base.html' %}

{% load static %}

{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'accounts/assets/css/form.css' %}" />
{% endblock %}


{% block headstyles %}

{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="alert-title">
    Reset Password E-mail Sent <i class="fa fa-check-circle" style="color:#6dff6d;"></i>
</div>

<div class="success-alert" style="color:#fff;">
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p> <br />
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
</div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'accounts/assets/js/form.js' %}"></script>
{% endblock %}
