{% extends 'accounts/base.html' %}

{% block title %}
    <title>{{ user.get_full_name }} | Taskilon</title>
{% endblock %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'accounts/assets/css/form.css' %}" />
{% endblock %}


{% block headstyles %}
{% endblock %}


{% block content %}

<!--In Progress (Temporary Code)-->
<div class="stayTuned" style="/*display:none;*/">
    <h1>Development In Progress! <br/ ></h1>
    <h1><i class="fa fa-gear fa-spin"></i><i style="font-size:0.5em;" class="fa fa-gear icon-spin-counter"></i></h1>
    <h6>STAY TUNED</h6>
</div>
<p class="heading__small maintenance"><i class="fa fa-exclamation-circle"></i> This page is currently in maintenance mode and will be updated soon!</p>

<p class="heading__small">


    <!-- {{user.get_full_name}}<br />
    {% if user.is_authenticated and backends.associated %}
        Social auth user @{{user.username}}
    {% elif user.is_authenticated and not backends.associated %}
        Not a social auth user @{{user.username}}
        You Can Reset Password
    {% else %}
    {% endif %} -->
</p>


<!-- Modal Popup Edit Profile -->

    <!-- <form class="" method="post">
        {% csrf_token %}
        <div class="ar-input-set">
            {{ form.first_name }}
            <span class="ar-fixed-label"><i class="fa fa-user-o"></i></span>
            <span class="ar-floating-label">First Name</span>
        </div>
        <div class="ar-input-set">
            {{ form.last_name }}
            <span class="ar-fixed-label"><i class="fa fa-user-o"></i></span>
            <span class="ar-floating-label">Last Name</span>
        </div>
        <div class="ar-input-set">
            {{ form.email }}
            <span class="ar-fixed-label"><i class="fa fa-user-o"></i></span>
            <span class="ar-floating-label">E-mail Address</span>
        </div>
    </form> -->

{% endblock %}

{% block javascripts %}
    <script src="{% static 'accounts/assets/js/form.js' %}"></script>
{% endblock %}
