{% extends 'accounts/base.html' %}

{% block title %}
    <title>{{ user.get_full_name }} | Taskilon</title>
{% endblock %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'accounts/assets/css/form.css' %}" />
{% endblock %}


{% block headstyles %}

{% endblock %}



{% block content %}

<p class="heading__small">You are now logged in as {{user.first_name}}
</p>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'accounts/assets/js/form.js' %}"></script>
{% endblock %}
