/*  */

form{
    margin: 2em auto;
    max-width: 768px;
    width: 100%;
}

fieldset{
    width: 100%;
    border: 0px;
    padding: 1em;
    margin: 1em auto;
    color: #333;
    text-align: justify;
}

legend{
    width: 100%;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    font-size: 2.4rem;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 0 0.2em;
    border-bottom: 1px solid #dcdcdc;
}

legend i{
    font-weight: 200;
    font-size: 0.9rem;
}

.ar-input-set{
    position: relative;
    padding: 1.4em 0 1.1em;
}

.two-in-one_1,
.two-in-one_2{
    width: 49.4%;
    float: right;
    display: inline-block;
}
.two-in-one_1{
    float: left;
}

textarea, input{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea,
input[type='text'],
input[type='password'],
input[type='email']{
    width: 100%;
    border:1px solid #dcdcdc;
    border-radius: 3px;
    padding: 0.8em;
    transition: all 0.5s ease;
    padding-left: 48px;
    background: #fbfbfb;
    color: #303030;
}

textarea:focus,
input:focus{
    outline: none;
    background: #ffffff;
    border-color: #8e8e8e;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
    box-shadow: 0 0 5px rgba(142, 142, 142, 0.3);
    box-shadow: 0 0 7px 0px rgba(142, 142, 142, 0.3);
    transition: all 0.3s ease,color 0.9s ease;
}

.ar-form-input{

}

.line-and-text{
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.line-and-text span{
    position: relative;
    display: inline-block;
    padding: 1rem;
    z-index: 1000;
    background:#fdfdfd;
    font-size: 1.5rem;
    margin: .5rem;
}

.line-and-text:before{
    position: absolute;
    content:'';
    top:50%;
    width: 100%;
    height: 1px;
    background: #8c8c8c;
    z-index: 0;
    left: 0;
}

.ar-form-btn-span{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0.5em auto;
}

input:invalid ~ .ar-floating-label,
input:not(:focus):invalid ~ .ar-floating-label{

}



.ar-floating-label{
    display: block;
    position: absolute;
    top:37px;
    left: 14px;
    left: 50px;
    z-index: 99999999;
    color: rgba(36, 41, 46, 0.63);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s cubic-bezier(1, 0.05, 0, 1);
    pointer-events: none;
}

textarea:valid ~ .ar-floating-label,
textarea:not(:focus):valid ~ .ar-floating-label,
input:valid ~ .ar-floating-label,
input:not(:focus):valid ~ .ar-floating-label,
.floating-label>.ar-floating-label{
    font-size: 0.9rem;
    top:0;
    left: 0;
    pointer-events: all;
}

.ar-fixed-label{
    color: rgba(36, 41, 46, 0.63);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
    position: absolute;
    top: 23px;
    left: 0px;
    padding: 13px 18px;
    background-color: rgba(216, 211, 211, 0);
    z-index: 1;
    pointer-events: none;

}

.ar-form-btn-span a.submit,
.ar-form-btn-span button{
    border:3px solid #24292e;
    align-content: center;
    background: #fdfdfd;
    color: #303030;
    font-size: 1.5em;
    border-radius: 5px;
    transition: all 0.4s ease, color 0.5s ease;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
    padding: 0.5em 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ar-form-btn-span a.submit:hover,
.ar-form-btn-span button:hover{
    background: #24292e;
    color: #fdfdfd;
}
.ar-form-btn-span a.submit:focus,
.ar-form-btn-span a.submit:hover,
.ar-form-btn-span button:focus,
.ar-form-btn-span button:hover{
    outline: 0;
}

.ar-form-btn-span a.submit:active,
.ar-form-btn-span button:active{
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.ar-form-btn-span span,
.ar-form-click{
    letter-spacing: 0.05em;
    color: #333;
}

.ar-form-click{
    color:#8e8e8e;
}

.ar-form-click:hover{
    text-decoration: underline;
}

.errorlist{
  color: red;
}


/* o-auth */

.oauth{
    text-align: center;
    box-sizing: border-box;
}
.oauth-link{
    position: relative;
	width: 240px;
	display: inline-block;
    box-sizing: border-box;
    margin: 0.2em;
 }
.oauth-icon{
	color:#fff;
	background-color: #3bb2d0;
	display: inline-block;
    padding: 10px;
	margin: 2px;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
    text-align: left;
    padding-left: 2em;
}
.oauth-google{ background-color: #df4a32; } .oauth-github{ background-color: #444444; } .oauth-twitter{ background-color: #50abf1; } .oauth-facebook{ background-color: #39579a; }
.oauth-icon .fa{
    position: absolute;
    top: 0.75em;
    left: 0.5em;
	padding: 2px;
    width: 1.5em;
    height: 1.3em;
}

.social__login{
    display: block;
    padding-top: 0em;
}
.social__login-btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    padding: .4em;
    border-radius: 360px;
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    color: #fff;
}
.social__login-btn:not(:last-child){
    margin-right: .8em;
}

.social__login-btn:hover{
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);

}

/* Wide */
